# Development environment
version: '3.8'

services:
  # REST API Service (Berfungsi sbg User Service)
  rest-api:
    build: ./services/rest-api
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - NODE_ENV=development
      - JWT_PRIVATE_KEY=|
        -----BEGIN RSA PRIVATE KEY-----
        MIIEogIBAAKCAQEA4wPnpRVEGlCYwlE3vTghYcIk+sLtwrSLNZHnqacSlVznXaPc
        c/Ywfn92hVRx7cVYbKYjuPbNVdfZdYgUa6OidcmYiDQ890aQRJ9TIAXC5Pjy4caY
        5CXjEU1CnUEz8oglDG6EL+XCCt51vXXs4wGAEIwP0V37Bbxh2RkMIrpH8x8vDuVN
        B8I/UZ1eeMDKpeIwimPFaIn1/gV5me1sBIxWQy7jkpjS9IOB4dKJGjTgqFCYDlGh
        87KRLwmY18W+Yl1uhkEXbrFgIt/1YYe4785W8eE/DPPplXse4hftHs/JKCIdWOH1
        BUwX1qM/7pVUA5/FBf9Mt/3GujM8YPrLOuei3QIDAQABAoIBAAgTDHsvrXNuKHDI
        6L2fMHjEqgINSt2hBE6MePvsyFltq4EGIgIx4HmvWOzXGxJE8aczpZOfm6ARBFgM
        1gUaFd4wpG87xGtbJCh8rj02Vz9Dp4fmQ2vh+RiVcegb+JgIxaCSkbsOZf9y+Ccb
        +af9Vqu//5QHzrTehXBuVqMpkwOPqDTRtSDajbysdg9Ua2nNyP39KjSKYuICpgXH
        yHcOnV9Ftgrc36xjnLnM41QaE81Ym7+KjLo/r1uSicKtfa+Mq0F9+mQps061ZS5X
        77UkSMNi2EJ7repqH6tTHbzxMvWM5qqi3v22h2RXYd4/hX5nhFJ4OmSsoCcJ0oFo
        rCMfhCECgYEA/u1TYaTzq2snih4lWAYF93aX7+KwwkPjwFRhwZFvsLtZGkd79qmu
        3obKamJvuHBxd71GrggiywIvjS19SoSIMk20bpLcB3wQo2IcM/nCfwhav0eTu8sL
        4fbZkI3ijQ3WmTqgsNLbYKD5FGMjkBbpdcvSHyM/zrEk+rdiUb94pqUCgYEA4/iB
        V4BGVLn1sawnZFKh0aXYVSu6S4PuGk8fIfSyEfB9A4wHKpFqiQ/0VmZYjTW9Zl4w
        X5HmW9ZSYFDby/DnRIzCRD6OIO0FJXAWLjEF0EK+4LWtc4TNPPrAmyjSAlzdHnjN
        AOuoDjRfIyD7Zz3C3AXzGJ2GovVmYrGz+vy8DdkCgYBvN7sY7o4gSy+E4oIIVRhl
        TigbUBstpdDHKAk+GeVQhWvqOyWqB31zN/s3TprPLL9ULg+X/ZSwXNPCFAaFbCy/
        RYdidk/oNAhOP49uXZitM0fkC6Y4V+1nN/rTRhOA1ni5gQp6GoP7ND921Ym+Y0CX
        U8ToMMi1tDMd7sPGRnKswQKBgC/tRLPyodaaKc8qlDWBMcfzh+GQCeBqYhph2/e1
        i+I9nuqp+6+1VqJuGj430hIN5D2rO5w7/iP8kODy3uKnSNeeiBD03ciKS/Ss9dzM
        LZ61CZAQYeDRYJybUvbLxCr+/vWzC9ZPtMsXs5CdFH2F/HtpPMxGAdIsqVPCbEYt
        8BMxAoGAN5WN1IxD6toza8m2vx0Mh+IskbRDPAAXU1JboMJCA0Xm8DjyhauU+bWk
        JmUx+ToIu8A/1qmGm/QS1Swp9A1oVB5PtHoa7/CKXlYVg9Y8Rs+XvLa3vGBlYERL
        Z517d7axK89vByszWeZgdwfN/OWjlTSILw+sbtkO9y0Eh7LV4Hk=
        -----END RSA PRIVATE KEY-----
      - JWT_PUBLIC_KEY=|
        -----BEGIN RSA PUBLIC KEY-----
        MIIBCgKCAQEA4wPnpRVEGlCYwlE3vTghYcIk+sLtwrSLNZHnqacSlVznXaPcc/Yw
        fn92hVRx7cVYbKYjuPbNVdfZdYgUa6OidcmYiDQ890aQRJ9TIAXC5Pjy4caY5CXj
        EU1CnUEz8oglDG6EL+XCCt51vXXs4wGAEIwP0V37Bbxh2RkMIrpH8x8vDuVNB8I/
        UZ1eeMDKpeIwimPFaIn1/gV5me1sBIxWQy7jkpjS9IOB4dKJGjTgqFCYDlGh87KR
        LwmY18W+Yl1uhkEXbrFgIt/1YYe4785W8eE/DPPplXse4hftHs/JKCIdWOH1BUwX
        1qM/7pVUA5/FBf9Mt/3GujM8YPrLOuei3QIDAQAB
        -----END RSA PUBLIC KEY-----
    volumes:
      - ./services/rest-api:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - microservices-network

  # GraphQL API Service (Berfungsi sbg Task Service)
  graphql-api:
    build: ./services/graphql-api
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - NODE_ENV=development
    volumes:
      - ./services/graphql-api:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - microservices-network

  # API Gateway
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      # Nama service ini sudah benar (mengacu ke nama service di atas)
      - REST_API_URL=http://rest-api:3001
      - GRAPHQL_API_URL=http://graphql-api:4000
      - NODE_ENV=development
    depends_on:
      - rest-api
      - graphql-api
    volumes:
      - ./api-gateway:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - microservices-network

  # Frontend Application
  frontend-app:
    build: 
      context: ./frontend-app
      target: deps
    ports:
      - "3002:3000"
    environment:
      - NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:3000
      # --- TAMBAHKAN URL WEBSOCKET ---
      - NEXT_PUBLIC_API_GATEWAY_WS_URL=ws://localhost:3000/graphql
    depends_on:
      - api-gateway
    volumes:
      - ./frontend-app:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge