# Development environment
version: '3.8'

services:
  # REST API Service (Berfungsi sbg User Service)
  rest-api:
    build: ./services/rest-api
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - NODE_ENV=development
      # --- CONTOH PENGISIAN KUNCI JWT ---
      - JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIEpAIBAAKCAQEA...\n...\n...abc\n-----END RSA PRIVATE KEY-----"
      - JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqh...\n...\n...xyz\n-----END PUBLIC KEY-----"

    volumes:
      - ./services/rest-api:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - microservices-network

  # GraphQL API Service (Berfungsi sbg Task Service)
  graphql-api:
    build: ./services/graphql-api
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - NODE_ENV=development
    volumes:
      - ./services/graphql-api:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - microservices-network

  # API Gateway
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      # Nama service ini sudah benar (mengacu ke nama service di atas)
      - REST_API_URL=http://rest-api:3001
      - GRAPHQL_API_URL=http://graphql-api:4000
      - NODE_ENV=development
    depends_on:
      - rest-api
      - graphql-api
    volumes:
      - ./api-gateway:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - microservices-network

  # Frontend Application
  frontend-app:
    build: 
      context: ./frontend-app
      target: deps
    ports:
      - "3002:3000"
    environment:
      - NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:3000
      # --- TAMBAHKAN URL WEBSOCKET ---
      - NEXT_PUBLIC_API_GATEWAY_WS_URL=ws://localhost:3000/graphql
    depends_on:
      - api-gateway
    volumes:
      - ./frontend-app:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge